<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>The Weather App</title>

</head>

<body>
    <h1>Weather Forecast </h1>
    <p>check out the weather of your area!</p>
    <form>
        <input placeholder="Enter the Location" type="text">
        <button type="submit">Search</button>

    </form>
    <p id="msg-1"></p>
    <p id="msg-2"></p>
    <script type='text/javascript' src='config.js'></script>
    <script src="js/client.js"></script>



</body>

</html>